//@import "../assets/imgs/logo.png";
@import "../theme/icons.scss";

.C_home{
    background:color($colors, primary);
    color: color($colors, light);
    margin-top:  25px;
    text-align: center;
    background-image: url('../assets/imgs/umbrella.png');
    background-size: cover;
}

.C_settings{
    background:color($colors, primary);
    color: color($colors, light);
    margin-top:  25px;
}

.C_about{
    background:color($colors, primary);
    color: color($colors, light);
    margin-top:  25px;
}

.C_weather{
    background:color($colors, primary);
    color: color($colors, light);
    margin-top:  25px;
}
.toolbar-title{
    text-align: center;
}

.tabs-md, .tab-button-icon{
    color: #aca;
}

.temp{
    font-size: 30px;
    text-align: center;
    font-weight: normal;
    //background: url('../assets/imgs/humidity.png');
}
.location,.icon,.desc
{  
      text-align: center;
}
.icon img{
    width: 60px;
}
.location{
    font-size:30px;
}
.desc{
    font-size: small;
}